---
title: "accordion"
layout: module.hbs
module: true
---

<section class="accordion">
	<h2>Section 1 Lorem ipsum</h2>
	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, rerum, magnam est ex et explicabo veritatis omnis neque quaerat praesentium autem cum in asperiores vel.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, rerum, magnam est ex et explicabo veritatis omnis neque quaerat praesentium autem cum in asperiores vel.</p>
	</div>
</section>

<section class="accordion">
	<h2>Section 2 Lorem ipsum dolor</h2>
	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, rerum, magnam est ex et explicabo veritatis omnis neque quaerat praesentium autem cum in asperiores vel.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, rerum, magnam est ex et explicabo veritatis omnis neque quaerat praesentium autem cum in asperiores vel.</p>
	</div>
</section>
